
.App{
   text-align: center;
 
  width: 300px;
    margin-right: auto;
    margin-left: auto;
}
.heading{
    background-color: rgb(243, 175, 28,0.5);
    padding: 15px 15px;
    margin: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
    color: white;
    
}
.Game{
    background-color: white;
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.App button{
    background-color: rgb(243, 175, 28,0.5);
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 27px;
}
.Game button{
    background-color: rgba(236, 182, 3, 0.747);
    color: black;
    padding: 10px 20px;
    border: none;
}
.Game button:hover{
    background-color:yellow;
    
}
.App button:hover{
    background-color: rgb(243, 175, 28);
    color: black;
    border: orange 
}
#MainButton{
    padding: 20px;
    font-size: 30px
}
body{
    background-Image:url(../images/books.jpg);
    background-Size:cover;
    background-repeat: no-repeat;
   
    
}